<% provide(:title, "[admin] new word") %>
<div class="admin-category-wrapper">
    <div class="container clearfix">
        <%= link_to "â†back", :back, class: "back" %>
        <%= form_for(:word, url: admin_category_words_path) do |f| %>
            <div class="update-info">
                <div class="content">
                    <%= render 'layouts/error', object: nil %>
                    <div class="form-group word">
                        <label for="inputWord">Word</label>
                        <div><%= f.text_field :content, class: "form-control" %></div>
                    </div>
                    <div class="choice">
                        <p>Choice</p>
                        <small class="form-group form-text text-muted">please input 3 words and check the correct answer.</small>
                        <div class="form-group choice-form">
                            <%= f.text_field 'choice[][:content]', class: "form-control choice-text" %>
                            <div class="choice-radio"><%= f.radio_button 'choice[][:is_correct]', :true %></div>
                        </div>
                        <div class="form-group choice-form">
                            <%= f.text_field 'choice[][:content]', class: "form-control choice-text" %>
                            <div class="choice-radio"><%= f.radio_button 'choice[][:is_correct]', :true %></div>
                        </div>
                        <div class="form-group choice-form">
                            <%= f.text_field 'choice[][:content]', class: "form-control choice-text" %>
                            <div class="choice-radio"><%= f.radio_button 'choice[][:is_correct]', :true %></div>
                        </div>
                    </div>
                    <div class="add-btn"><span><%= f.submit "add" %></span></div>
                </div>
            </div>
        <% end %>
    </div>
</div>
