<%= form_for(@user, url: signup_path) do |f| %>
    <h1>Sign up</h1>
    <%= render 'layouts/error', object: @user %>
    <div class="form-group">
        <label for="inputEmail4">Email</label>
        <div><%= f.email_field :email, class: "form-control" %></div>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <div><%= f.password_field :password, class: "form-control" %></div>
    </div>
    <div class="form-group">
        <label for="inputPassword">Password Confirmation</label>
        <div><%= f.password_field :password_confirmation, class: "form-control" %></div>
    </div>
    <%= f.submit "Create my account", class: "btn btn-primary" %>
<% end %>