<% provide(:title, "answer") %>
<div class="answer-wrapper">
    <div class="container clearfix">
        <h5 class="count">1 / 9 <small>words</small></h5>
        <div class="answer">
            <%= form_for(:answer, url: lesson_answers_path) do |f| %>
                <h2 class="word"><span>word</span></h2>
                <small id="annotation" class="form-text text-muted">please check your answer.</small>
                <div class="content">
                    <div class="select-btn">
                        <%= f.radio_button :choice_id, 1 %>
                        <label for="answer_choice_id_1"><h3>choice1</h3></label>
                    </div>
                    <div class="select-btn">
                        <%= f.radio_button :choice_id, 2 %>
                        <label for="answer_choice_id_2"><h3>choice2</h3></label>
                    </div>
                    <div class="select-btn">
                        <%= f.radio_button :choice_id, 3 %>
                        <label for="answer_choice_id_3"><h3>choice3</h3></label>
                    </div>
                    <div class="answer-btn"><span><%= f.submit "answer" %></span></div>
                </div>
            <% end %>
        </div>
    </div>
</div>
