<% provide(:title, "[admin] category list") %>
<div class="admin-category-wrapper">
    <div class="container clearfix">
        <div class="add-btn add-btn-position right font-smaller">
            <%= link_to "add category", new_admin_category_url, class: "add" %>
        </div>
        <div class="categories">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>xx</td>
                        <td>xx</td>
                        <td class="category-btn font-smaller">
                            <div class="edit-btn"><%= link_to "edit", "#", class: "edit" %></div>
                            <div class="del-btn"><%= link_to "del", "#", class: "del" %></div>
                            <div class="add-btn"><%= link_to "add", new_admin_category_word_url("1"), class: "add" %></div>
                            <!-- ↑ delete after create edit category layout -->
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>yy</td>
                        <td>yy</td>
                        <td class="category-btn font-smaller">
                            <div class="edit-btn"><%= link_to "edit", "#", class: "edit" %></div>
                            <div class="del-btn"><%= link_to "del", "#", class: "del" %></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
