<% provide(:title, "categories") %>
<div class="category-wrapper">
    <div class="container clearfix">
        <div class="lessons">
            <nav class="nav justify-content-end">
                <div class="nav-link active"><%= link_to "all", "#" %></div>
                <div class="nav-link"><%= link_to "learned", "#" %></div>
                <div class="nav-link"><%= link_to "not learned", "#" %></div>
            </nav>
            <div class="lessons-content">
                <div class="lessons-category" style="width: 18rem;">
                    <div class="card">
                        <h5 class="card-header">Category</h5>
                        <div class="card-body">
                        <p class="card-text">description</p>
                        <p><small>you can learn xx words</small></p>
                        <div class="start-btn right"><%= link_to "start", "#" %></div>
                        </div>
                    </div>
                </div>
                <div class="lessons-category" style="width: 18rem;">
                    <div class="card">
                        <h5 class="card-header">Category</h5>
                        <div class="card-body">
                        <p class="card-text">description</p>
                        <p><small>you can learn xx words</small></p>
                        <div class="start-btn right"><%= link_to "start", "#" %></div>
                        </div>
                    </div>
                </div>
                <div class="lessons-category" style="width: 18rem;">
                    <div class="card">
                        <h5 class="card-header">Category</h5>
                        <div class="card-body">
                        <p class="card-text">description</p>
                        <p><small>you can learn xx words</small></p>
                        <div class="start-btn right"><%= link_to "start", "#" %></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
