<!DOCTYPE html>
<html>
    <head>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <title><%= yield(:title) %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <% @staticpages_path = [root_path, signup_path, login_path] %>
    <body class="<%= "static_pages" if @staticpages_path.include?(request.path) %>">
        <%= render 'layouts/header' %>
        <% if flash.any? %>
            <% if flash[:info] != nil %>
                <div class="alert alert-success" role="alert">
                    <%= flash[:info] %>
                </div>
            <% end %>
        <% end %>
        <%= yield %>
        <%= render 'layouts/footer' %>
    </body>
</html>
